.App {
  text-align: center;
}

.left {
  padding-left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrapper {
  height: 499px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wrapper .greeting {
  /* background-color: teal; */
  margin-bottom: 3%;
  width: 100%;
  text-align: left;
}
.greeting,
h4,
h5 {
  text-transform: capitalize;
}
.greeting .hi {
  text-transform: capitalize;
  font-size: 2.6em;
  margin-bottom: 2%;
}
.greeting .name {
  font-size: 2.9em;
  margin-bottom: 3.5%;
}
.greeting p {
  font-size: 14px;
}
.greeting .desc {
  margin-top: 6%;
}
.my-btn {
  width: 160px;
  height: 55px;
  background-color: #4d62dd;
}
.my-btn:hover {
  background-color: #4d62dd;
}
.man {
  /* background-color: yellow; */
  margin-top: 10%;
  width: 70%;
}

@media only screen and (min-width: 250px) and (max-width: 768px) {
  .left {
    padding-left: 5%;
    padding-right: 5%;
  }
}
